body{
    background-color: #b8a88a;
}

#ibex35{
    width: 20%;
}

#cabecera{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
}

#inicio{
    border: 5px solid #ccc;
    padding: 5px;
    min-height: 100px;
    width: 700px;
    margin: auto;
    
}

#fin{
    border: 5px solid #ccc;
    padding: 5px;
    min-height: 100px;
    width: 700px;
    margin: auto;
}

#mostrar{
    margin: auto;
    width: 1000px;
}

h2{
    margin: auto;
    width: 700px;
}

#borrar{
    margin-left: auto;
    margin-right: auto;
}
.element { float: left; } .element:nth-child(2n) { clear: both; }
img
{
    height: 100px;
    width: 20%;
    margin: 2px;
}

.draggable
{
    filter: alpha(opacity=60);
    opacity: 0.6;
}

.dropped
{
    position: static !important;
}