body{
    background-color: #b8a88a;
}

img{
    width: 20%;
    /* border: 1px solid black; */
}

#cabecera{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
}

#inicio{
    border: 1px solid green;
    
}

#fin{
    border: 1px solid red;

}